.actionButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  background: transparent;
}

.actionButton:hover {
  position: relative;
  border-radius: 0.5rem;
  filter: brightness(0.75);
  background: var(--vscode-settings-focusedRowBackground);
}

.actionButton.actionButton--disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

.actionButton:hover .actionButtonTip {
  display: flex;
}

.actionButton .actionButtonTip {
  position: absolute;
  display: none;
  background: var(--vscode-badge-background);
  border-radius: 0.25rem;
  font-size: 0.65rem;
  padding: 0.125rem 0.25rem;
  color: var(--vscode-badge-foreground);
}

.actionButton .actionButtonTip::after {
  content: ' ';
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.actionButton .actionButtonTip--top {
  left: 50%;
  transform: translateX(-50%);
  top: -100%;
}

.actionButton .actionButtonTip--top::after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-color: var(--vscode-badge-background) transparent transparent
    transparent;
}

.actionButton .actionButtonTip--bottom {
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 0.5rem);
}

.actionButton .actionButtonTip--bottom::after {
  top: calc(-0.58rem);
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent transparent var(--vscode-badge-background)
    transparent;
}
