.compilerSidebar {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  user-select: none;
}

.compilerSidebar .section + .section,
.sectionProfile {
  margin-top: 0.5rem;
}

.compilerSidebar .sectionProfile {
  display: flex;
  align-items: center;
}

.compilerSidebar .sectionTitle {
  color: var(--vscode-icon-foreground);
  font-weight: 500;
}

.compilerSidebar .sectionProfileSelectValue {
  font-weight: 500;
  margin-left: 0.16rem;
}

.compilerSidebar .sectionProfileTitle {
  color: var(--vscode-icon-foreground);
  font-weight: 400;
}

.compilerSidebar .sectionProfile button {
  margin-left: auto;
}

.compilerSidebar .sectionDivider {
  border-top: 0.063rem solid color-mix(in srgb, currentColor 25%, transparent);
  margin: 0.5rem 0;
  color: var(--vscode-icon-foreground);
}

.compilerSidebar .profileChangeButton {
  background: transparent;
}

.compilerSidebar .sectionActionsList {
  list-style: none;
  margin-top: 0.25rem;
}

.compilerSidebar .sectionActionsList > * + * {
  margin-top: 0.25rem;
}
